.cart-header {
    text-align: center;
}

.cart-summary {
    text-align: left;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.summary-item {
    font-size: 12px;
    margin: 5px;
}

table td:last-child {
    text-align: right;
}

.summary-total {
    font-size: 18px;
    font-style: bold;
    color: orangered;
}