#search-bar-container {
    background-color: #222;
    padding: 20px 0px 20px;
}

input {
    width: 75%;
    font-size: 18px;
}

i {
    color: white;
    padding: 5px;
}

.fa-lg {
    color: white;
}

span {
    color: orangered;
}